.input {
  width: 100%;
  padding: 10px 12px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  outline: none;
  background: var(--bg);
  color: var(--primary);

  &:focus {
    border-color: rgba(0, 0, 0, 0.35);
  }
}

.inputError {
  border-color: rgba(255, 0, 0, 0.45);
}
